<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<form action="/insert_bookmark" method="post">
  <select name="query_movie_id" id="movie_id_box">
    <% Movie.all.order(:created_at).each  do |a_movie| %>
      <option value="<%= a_movie.id %>">
        <%= a_movie.title %>
      </option>
    <% end %>
  </select>
  <Button>Bookmark this movie!</button>
</form>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% users_bookmarks = @list_of_bookmarks.where(:user_id => session.fetch(:user_id)) %>

      <% users_bookmarks.each do |a_bookmark| %>
      <tr>
        <td>
          <a href="/movies/<%= a_bookmark.movie_id %>"><%=  a_bookmark.movie.title %></a>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-Bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
